RewriteEngine on

#RewriteCond %{HTTPS} (on)?
#RewriteCond %{HTTP:Host} ^(?!www\.)(.+)$ [NC]
#RewriteCond %{REQUEST_URI} (.+)
#RewriteRule .? http(?%1s)://www.%2%3 [R=301]

RewriteRule ^index.html$ index.php [L]
RewriteRule ^index.html?redirect=([a-zA-Z]*)&keywords=([a-zA-Z0-9]*) index.php?page=$1&keywords=$2
# Other Page
RewriteRule ^([a-zA-Z]*).html index.php?page=$1 
RewriteRule ^page-([0-9]*).html index.php?page=page-content&id=$1

# anh
RewriteRule ^album_([0-9]*).html index.php?page=album&viewParent=$1 
RewriteRule ^album_([0-9]*)_([0-9]*).html index.php?page=album&viewParent=$1&viewSub=$2  
RewriteRule ^album_([0-9]*)_([0-9]*)-([0-9]*).html index.php?page=album&viewParent=$1&viewSub=$2&view=$3

# san pham
RewriteRule ^product-([0-9]*).html index.php?page=list-product&cate=$1
RewriteRule ^product-([0-9]*)-0-([0-9]*).html index.php?page=list-product&cate=$1&sub=$2
RewriteRule ^product-([0-9]*)-0-([0-9]*)-0-([0-9]*).html index.php?page=list-product&cate=$1&sub=$2&view=$3
RewriteRule ^productView_([0-9]*)_([0-9]*)_([0-9]*).html index.php?page=productView&cate=$1&sub=$2&id=$3
RewriteRule ^product-detail-([0-9]*)-0-([0-9]*)-0-([0-9]*).html index.php?page=product-detail&cate=$1&sub=$2&id=$3

# anti DDoS
RewriteEngine on RewriteCond %{HTTP_REFERER} !^http(s)?://(www.)?annamchi.com [NC] RewriteRule !antiddos.phtml http://annamchi.com/antiddos.phtml?%{REQUEST_URI} [QSA]